# Data Science Tools and Ecosystem

_In this notebook, Data Science Tools and Ecosystem are summarized._

**Objectives:**
- datascience_languages
- datascience_tools
- arathimatic_operations
- headings_tables_orderedlists

_Some of the popular languages that Data Scientists use are:_

1. python
2. R
3. Julia

_Some of the commonly used libraries used by Data Scientists include::_

1. Pandas
2. NumPy
3. Seaborn

| Data Science Tools |
| -------------------|
| jupyter notebook |
 | apache spark |
 | Mongo DB |

### Below are a few examples of evaluating arithmetic expressions in Python
###### a = 7
###### b = 6
###### c = a + b
###### c

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4) + 5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
def MTH(minutes):
    hours = minutes/60
    return hours
print(MTH(200))

3.3333333333333335

In [ ]:
## Author